# Dependencies
node_modules/
.pnpm-store/

# Next.js Build Output
.next/
out/

# Turbo Build Cache
.turbo/

# Log Files
*.log
*.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / Editor Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
